html {
    background-image: url(../images/andres-iga-7XKkJVw1d8c-unsplash.jpg);
    background-size: cover;
    background-image: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color:inherit;
}

.navbar-brand {
    padding: 0px 0px 0px 40px;
}

.navbar-menu {
    padding: 0px 0px 0px 100px;
}

.label {
    padding: 5px 0px 0px 20px;
}

.field {
    border-radius: 10px;
}

.box {
    background-color: #4169E1;
    margin-inline: 200px;
}

.media {
    background-color: white;
}

.button {
    flex: center;
    border: none;
    color: white;
}

.container {
    background: #4169E1;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 2px grey;
}

#fav-button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
}

#fav-button img {
    height:40px;
    width:auto;
}