html {
    background-image: url(../images/andres-iga-7XKkJVw1d8c-unsplash.jpg);
    background-size: cover;
    background-image: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color:inherit;
}

.navbar-brand {
    padding: 0px 0px 0px 40px;
}

.navbar-menu {
    padding: 0px 0px 0px 100px;
}

.label {
    padding: 5px 0px 0px 20px;
}

.field {
    border-radius: 10px;
}

.box {
    background-color: #4169E1;
}

.img-flex {
    flex: 1 1 0;
}

.media {
    background-color: white;
}

.button {
    flex: center;
    border: none;
    color: white;
}

.container {
    background: #4169E1;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 2px grey;
}

/* .column {
    display: flex;
    padding: 0.75rem;
} */

.column-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.margin {
    margin: 24px;
}

.width {
    width: 30rem;
}    

#fav-button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
}

#fav-button img {
    height:40px;
    width:auto;
}