html {
    background-image: url(../images/andres-iga-7XKkJVw1d8c-unsplash.jpg);
    background-size: cover;
    background-image: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color:inherit;
}

.navbar-brand {
    padding: 0px 0px 0px 60px;
}

.navbar-menu {
    padding: 0px 0px 0px 100px;
}

.label {
    padding: 5px 0px 0px 0px;
    color: white;
}

.field {
    border-radius: 10px;
}

.box {
    background-color: rgb(51, 61, 60);
    color: white;
}

.img-flex {
    flex: 1 1 0;
}

.media {
    background-color: white;
}

.button {
    flex: center;
    border: none;
}

.container {
    background: rgb(51, 61, 60);
    border-radius: 5px;
    padding: 20px;
    color: white;

}

/* .column {
    display: flex;
    padding: 0.75rem;
} */

.column-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
}

.justify-evenly {
    justify-content: space-evenly;
}

.margin {
    margin: 24px;
}

.width {
    width: 30rem;
    min-width: 23rem;
}    

#fav-button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
}

#fav-button img {
    height:40px;
    width:auto;
}

strong {
    color: gold;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.char-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-end {
    padding: 0px 30px 0px 0px;
}

a:hover {
    color: #fe9d00;
}

#fav-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition:all .5s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    transition:all .5s ease-in-out;
}

@media screen and (min-width: 769px){
    .modal-card, .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: auto;
    }
}

.message.is-info .message-header {
    background-color: rgb(51, 61, 60);
}

.message strong {
    color: gold;
}

.message.is-info .message-body {
    background-color: rgb(171, 175, 175);
    color:white;
}